* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    background-color: #040d21;
    color: #fff;
    position: relative;
}

.decor {
    position: absolute;
    color: #fff;
    z-index: -1;
}

.decor:nth-child(1) {
    top: 0;
    left: 0;
}

.decor:nth-child(2) {
    top: 0;
    right: 0;
}

.decor:nth-child(3) {
    top: 200px;
    right: 25%;
}

.decor:nth-child(4) {
    top: 400px;
    left: 25%;
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

.home {
    position: relative;
    padding: 30px 0 30px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.home__title {
    color: #fff;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-family: "Moirai One";
    font-size: 12.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.grade {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.grade__item {
    color: #040d21;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 60px;
    font-size: 3.2rem;
    font-weight: 500;
    flex-shrink: 0;
    background: #fff;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 4px 8px 5px 3px rgba(10, 9, 9, 0.25);
}

.home__desc {
    margin-top: 54px;
    font-size: 4.8rem;
}

.home__bottom {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.home__bottom-title {
    font-size: 4.8rem;
}

.hero {
    position: relative;
    margin-top: 100px;
    padding-bottom: 100px;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 5.8rem;
    font-weight: 800;
}

.hero__content {
    margin-top: 30px;
    position: relative;
}

.hero__img-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    border-radius: 30px;
}

.hero__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slider {
    transition: opacity 1s ease-in-out;
}

.hero__btn {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    box-shadow: 4px 8px 5px 3px rgba(10, 9, 9, 0.25);
}

.hero__btn:first-child {
    left: -44px;
}

.hero__btn:first-child img {
    transform: rotate(180deg);
}

.hero__btn:last-child {
    right: -44px;
}

.hero__btn-icon {
    font-size: 2.6rem;
}

.introduce {
    margin-top: 100px;
    position: relative;
    padding-bottom: 100px;
}

.introduce__decor:nth-child(3) {
    top: 60%;
    right: 3%;
}

.introduce__decor:nth-child(4) {
    top: 50%;
    left: 3%;
}

.separate {
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 40px 0;
}

.video__wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.video__wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.video__play-btn {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
}

.video__play-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback {
    position: relative;
    margin-top: 100px;
    padding-bottom: 100px;
}

.feedback .decor:nth-child(4) {
    top: 50%;
    left: 34%;
}

.feedback__content {
    margin-top: 40px;
    display: flex;
    gap: 80px;
    align-items: center;
}

.feedback__left {
    flex-shrink: 0;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.feedback__group {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.feedback__choose-wrap {
    display: flex;
    gap: 10px;
    align-items: center;
}

.feedback__choose-wrap label {
    font-size: 2.6rem;
}

.feedback__choose-wrap input {
    width: 24px;
    height: 24px;
}

.feedback__group i {
    font-size: 2.6rem;
}

.feedback__question {
    margin-top: 20px;
    font-size: 3.6rem;
    font-weight: 800;
}

.feedback__left-comment {
    margin-top: 40px;
}

.feedback__comment-wrap {
    display: flex;
    gap: 30px;
    align-items: center;
}

.feedback__comment-title {
    font-size: 3.6rem;
    font-weight: 800;
}

.add__comment {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 180px;
    height: 60px;
    cursor: pointer;
    font-weight: 600;
    font-size: 2.6rem;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #0b0a0a;
    box-shadow: 4px 8px 5px 3px rgba(10, 9, 9, 0.25);
}

.comment {
    margin-top: 40px;
}

.comment__item {
    min-height: 60px;
    max-width: 360px;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 8px 16px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.comment__item + .comment__item {
    margin-top: 20px;
}

.comment__text {
    font-size: 2rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    overflow: hidden;
    text-overflow: ellipsis; 
    line-height: 1.5; 
}

.add__comment-text {
    width: 100%;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.feedback__right {
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.feedback__right-content {
    width: 100%;
    position: relative;
}

.feedback__right-img-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    border-radius: 30px;
}

.feedback__right-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback__right-btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(10, 9, 9, 0.25);
}

.feedback__right-btn:first-child {
    left: -4%;
}

.feedback__right-btn:last-child {
    right: -4%;
}

.feedback__right-btn:nth-child(1) img {
    transform: rotate(180deg);
}
